version: '3'
services:

  localstack:
    image: localstack/localstack
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=apigateway,cloudwatch,ec2,iam,lambda,s3,sqs
      - LAMBDA_EXECUTOR=docker_reuse
      - DATA_DIR=/tmp/localstack/data
      - DOCKER_HOST=unix:///var/run/docker.sock
      - DEFAULT_REGION=us-east-2
      - DEBUG=1
      - PORT_WEB_UI=8080
      - LAMBDA_DOCKER_NETWORK=localstack
      - LAMBDA_REMOTE_DOCKER=true
      - HOST_TMP_FOLDER=${PWD}/.localstack
      - "53:53"
      - "53:53/udp"
      - "443:443"
      - "4566:4566"
      - "4571:4571"
      - "8080:8080"

      # AWS
      - AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY
      - AWS_SECRET_ACCESS_KEY=AWS_SECRET_KEY
      - AWS_DEFAULT_REGION=us-east-2
      - AWS_DEFAULT_OUTPUT=json
    volumes:
      - ".data/localstack:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  mongo:
    image: mongo:4
    container_name: mongo
    restart: always
    volumes:
      - .data/mongo:/data/db

  hub-api:
    image: node:16.13.0-alpine
    container_name: hub-api
    user: "node"
    working_dir: /home/node/app
    restart: always
    volumes:
      - "./api:/home/node/app"
    env_file: .env
    environment:
      - PORT=3001

      # AWS
      - AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY
      - AWS_SECRET_ACCESS_KEY=AWS_SECRET_KEY
      - AWS_DEFAULT_REGION=us-east-2
      - AWS_DEFAULT_OUTPUT=json
    ports:
      - 3001:3001
    depends_on:
      - localstack
      - mongo
    command: yarn start:dev

  hub-delivery-consumer-request:
    image: node:16.13.0-alpine
    container_name: hub-delivery-consumer-request
    user: "node"
    working_dir: /home/node/app
    restart: always
    volumes:
      - "./delivery-consumer-request:/home/node/app"
    environment:
      # AWS
      - AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
      - AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      - AWS_DEFAULT_REGION=us-east-2
      - AWS_DEFAULT_OUTPUT=json
    depends_on:
      - localstack
    command: yarn start:dev

  hub-delivery-consumer-response:
    image: node:16.13.0-alpine
    container_name: hub-delivery-consumer-response
    user: "node"
    working_dir: /home/node/app
    restart: always
    volumes:
      - "./delivery-consumer-response:/home/node/app"
    environment:
      # AWS
      - AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
      - AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      - AWS_DEFAULT_REGION=us-east-2
      - AWS_DEFAULT_OUTPUT=json
    depends_on:
      - localstack
    command: yarn start:dev

networks:
  default:
    external:
      name: "localstack"
